<header class="flex justify-between text-2xl py-8 border-b-2 border-blue-100 mb-8">
    <a href="#">Восточно-Бейский разрез</a>
    <h2>Система заказа обедов</h2>
    <ul class="flex justify-between">
        <li class="ml-8"><a href="/logout">Выход</a></li>
    </ul>
</header>