<%- include ("./partials/header") %>

<%- include ("./partials/navbar") %>

<div class="container">
    <div>
        <h1>HOME PAGE</h1>
    </div>
    <a href="/registration">Регистрация</a>
</div>

<%- include ("./partials/footer") %>